pkgbase = snowmix
	pkgdesc = Dynamic audio and video feed mixer
	pkgver = 0.5.1.1
	pkgrel = 1
	url = https://snowmix.sourceforge.net
	arch = i686
	arch = x86_64
	arch = armv7h
	license = GPL
	makedepends = pkg-config
	makedepends = autoconf
	makedepends = automake
	makedepends = make
	makedepends = bc
	makedepends = libtool
	makedepends = awk
	makedepends = gcc
	makedepends = tcl
	makedepends = tk
	depends = openbsd-netcat
	depends = bc
	depends = gstreamer
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = gst-plugins-ugly
	depends = gst-libav
	depends = bwidget
	source = https://downloads.sourceforge.net/sourceforge/snowmix/Snowmix-0.5.1.1.tar.gz
	source = snowmix.sh
	sha256sums = e72d3fdab4b4c03b52787b8641fd6399b3a0a0c8976bf019a959b99f0f0a459d
	sha256sums = 03bfb26882ceaaa69a6c72312bed96a2e21305cb7621bf843d0c1430740971ac

pkgname = snowmix
